
.example-container {
  width: 1380px;
  height: 1650px;
  background-color:  #fff1e6;
  padding-left: 15px;
 

};

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top:auto;
 margin-left: -930px;

};

.button{
    margin-top: -1585px;
    margin-left: -10px;

};

.homeIcon{
    background-color: #DC143C;
    color: white;
    width: 50px;
    height: 50px;
   padding: 10px 12px 10px 12px;
   border-radius: 5px;
   margin-top: 20px;
   border: 1px solid white;

};

.btnSize {
    width: 250px;
    
};

.homeIcon:hover{
    cursor: pointer;
    color: yellow;
  
};

.btnSize:hover{
    cursor: pointer;
    color: yellow;
};

.example-sidenav {
  padding: 5px;
  background-color: blueviolet;
  margin-top: 0px;
  width: 285px;
  height: 100%;

};

.showHotelDetails{

  margin-left: 1000px;
  margin-top: auto;
 
};

.example-card {
  max-width: 400px;
  background-color: #ff77ff;
  box-shadow: 0 0 20px 10px #df00ff;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  display:flex;
};

.example-header-image {
  width: 80px;
  height: 80px;
  background-image: url("/assets/HotelProjectImages/hotelwalalogo.png");
  background-size: cover;

};

.title{
  font-family: math;
  font-size: 25px;
  font-weight: bolder;
  padding-top: 23px;
  font-size: 28px;
  color:black;
  margin-top: 5px;
};

.location{
  font-family:serif;
  // font-size: 10px;
  padding-top: 3px;
  font-size: 19px;
  color:blue;
  
};

.icon{
  padding-top: 2px;
  color: rgb(119, 5, 5);
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-color: #fded09;
  padding-left: 1px;
};

.displayHotelData{
  font-family:serif;
  font-size: 20px;
  font-weight: 10px;
  margin-top: -50px;

};

.verticalDot{
  margin-left: 0px;
}

.verticalDot:hover{
  background-color:#8A9A5B;
  // border: 1px solid black;

};


.delitbtn{
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;

};

.editbtn{
  height: 40px;
  width: 40px;
  // margin-left: 25px;
 
};

.delitbtn:hover{
  color: red;
  background-color: skyblue;
};

.editbtn:hover{
  color:red;
  background-color: skyblue;
};




