<div>
    <img src={{img1}} alt="Hotelwala.com image">
    <br>

    <div class="dispalyContent">

        <h1>Hotelwala<span>.com</span></h1>

        <p>Super Charge your business by
            making Hotelwala.com your growth partner!
        </p>

    </div>
</div>
    <div class="OwnerLoginForm">
    <form [formGroup]="ownerLoginForm">
      <br>
        <span>Owner Login</span>
        <br>
        <br>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Enter your Email or Phone No.</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="Email" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password" autocomplete="off">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <br>
        <button class="submitbutton" [disabled]="!ownerLoginForm.valid" (click)="Submit(ownerLoginForm.value)"
          mat-raised-button color="accent">Login</button>
          <br>
          <br>
          <p>Not a Member? <a routerLink="ownerSignUp">SignUp Now</a></p>
      </form>
    </div>