<nav class="navbar">
    <a routerLink=""><img class="logo" src="/assets/HotelProjectImages/Hotelwala.png" alt=""></a>
    <h1><a routerLink="">Hotelwala<span>.com</span></a></h1>
    <div class="searchbar">
        <input type="text" placeholder="Search Your Dream Destination Here...">
        <button>Search</button>
    </div>
    <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/user/">User</a></li>
        <li><a routerLink="/owner/">Owner</a></li>
        <li><a routerLink="/admin/">Admin</a></li>
        <li><a routerLink="#">Logout</a></li>
    </ul>

</nav>
