.navbar{
    width: 120%;
    height: 60px;
    background-color: #7a10dd;
     position: relative; 
    // height: 95px;
    display:flex;
    justify-content:space-between;
    // padding-right: 5%;
    align-items: center;
    // margin: 0%; 
    // margin-right: 0%;
   
};

.logo{
    height: 139px;
    width: 155px;
    margin-left: -5px;
    position: absolute;
    margin-top: -65px;
};

.navbar h1 a{
    font-family: math;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    text-shadow: 3.8px 0.8px black;
    text-decoration: none;
    position: absolute;
    margin-top: -7px;
    // padding-left: -23px;
    margin-left: -1260px;
};


.navbar h1 span{
    font-family: math;
    font-size: 30px;
    font-weight: bolder;
    color:  #FFEB3B;
//    padding-top: 2px;
};

.navbar div{
    position: absolute;
    margin-left: 350px;
}

.navbar .searchbar input{
    color: rgb(0, 0, 0);
    border: 2px solid black;
    height: 37px;
    border-right: 0px;
    width: 380px;
    margin-top: 1.7px;
    margin-left: 70px;
    border-radius: 10px;
    padding-left: 15px;

};


.navbar .searchbar button {
    color: rgb(255, 255, 255);
    background-color: #7a10dd;
    height: 39px;
    width: 97px;
    border: 2px solid black;
    border-radius: 6px;
    margin-left: -13px;
    margin-right: 10px;
    font-family: auto;
    font-size: 18px;
    position: absolute
};

.navbar ul{
    position: absolute;
    display: inline-flex;
    list-style: none;
    // margin-right: -1130px;
    margin-top: 10px;
    margin-left: 900px
};

.navbar li{
    padding-left: 15px;
    padding-top: 1px;
};

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: inherit;
    color: white;
    font-family: cursive;
};

.navbar h1,.logo,.navbar .searchbar input:hover{
    cursor: pointer; 
};

.navbar .searchbar button:hover {
    cursor: pointer;
    height: 41px;
    width: 100px;
    
    
};

.navbar ul li a:hover {
    cursor: pointer;
    color: rgb(255, 217, 0);
    font-size: 22px;
};







