*{
    background-color: antiquewhite;
}

.dialogbox{
    background-color: rgb(207, 159, 255, 0.5);
    color: #7f0000;
    font-family: cursive;
    font-size: 24px;
    padding-left: 55px;
    font-weight: bolder;
    border-radius: 12px;
};

.dialogContent{
    background-color: antiquewhite;
    border-radius: 20px;
}

