
.container{
    width: 100%;
    background-color: #7a10dd;
    display:flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    height: 60px;
    position: relative;
    align-items: center;

};

.homescreen{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}