
.image{
    margin-top: 15px;
    object-fit: contain;
    height: 430px;
    width: 1500px;
    background-position: center;
    background: fixed;
   margin-bottom: 20px;

   
};

.span-login-text{
    margin-left: 600px;
    font-family: math;
    font-size: 30px;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 21px;
    background-color: yellow;
    padding: 5px 5px 5px 11px;
    
};

.button{
    margin-top: 15px;
    margin-left: 620px;    
};

.btn1{
    margin-left: 10px;
};

